/* Default */
@media only screen {
  [data-footer_author] {
    display: flex;
    grid-area: 1/1;
    justify-content: center;
  }
  [data-footer_author] > img {
    border-radius: 100%;
    width: 70px;
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-footer_author] {
    grid-area: 1/2;
  }
}
