/* Default */
@media only screen {
  [data-footer_date] {
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    grid-area: 3/1;
    justify-content: center;
    place-self: center;
  }
  [data-footer_date] > span {
    backdrop-filter: blur(20px);
    cursor: default;
    font-size: 1.1em;
    width: fit-content;
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-footer_date] {
    grid-area: 1/3;
  }
}
