/* Default */
@media only screen {
  [data-footer_date] {
    place-self: center;
    grid-area: 3/1;
    color: rgb(255, 255, 255);
  }
  [data-footer_date] > span {
    font-size: 1.1em;
    cursor: default;
    backdrop-filter: blur(20px);
    width: fit-content;
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-footer_date] {
    grid-area: 1/3;
  }
}