/* Default */
@media only screen {
  [data-main_education] {
    color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }
  [data-main_education] > h2 {
    color: rgb(184, 181, 29);
    grid-area: 1/1;
    margin-bottom: 15px;
    place-self: center;
    transition: 1s;
  }
  [data-main_education_container] {
    display: grid;
    grid-area: 2/1;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin: 10px 0;
    place-self: center;
    width: 100%;
  }
  [data-main_education_container] > div {
    place-self: center;
  }
  [data-main_education_container] > div > section > h3 {
    color: rgb(253, 0, 118);
    cursor: pointer;
    margin: 5px 0;
  }
  [data-main_education_container] > div > section > p,
  [data-main_education_container] > div > section > span {
    cursor: pointer;
    font-size: 1.15em;
    margin: 5px 0;
    max-width: 100%;
  }
  [data-main_education_container] > div > div > img {
    max-height: 90%;
    max-width: 90%;
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-main_education_container] {
    grid-template-columns: auto auto;
  }
}
