/* Default */
@media only screen {
  [data-main_hobbies] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
  }
  [data-main_hobbies] > h2 {
    color: rgb(184, 181, 29);
    transition: 1s;
    grid-area: 1/1;
    place-self: center;
  }
  [data-main_hobbies_container] {
    grid-area: 2/1;
    place-self: center;
  }
}
