/* Default */
@media only screen {
  [data-main_skills] {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
    width: 95%;
    justify-content: center;
    align-items: center;
  }
  [data-main_skills_title] {
    color: rgb(184, 181, 29);
    transform: translateY(10px);
    transition: 1s;
    padding-bottom: 5px;
    margin-bottom: 15px;
    backdrop-filter: blur(30px);
    width: fit-content;
  }
  [data-main_skills_category] {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  [data-main_skills_category_title] {
    color: rgb(29, 180, 180);
    backdrop-filter: blur(30px);
    width: fit-content;
    text-align: center;
    padding: 0;
  }
  [data-main_skills_category_container] {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
