/* Default */
@media only screen {
  [data-main_skills] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }
  [data-main_skills] > h2 {
    backdrop-filter: blur(30px);
    color: rgb(184, 181, 29);
    margin-bottom: 15px;
    padding-bottom: 5px;
    transform: translateY(10px);
    transition: 1s;
    width: fit-content;
  }
  [data-main_skills] > section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  [data-main_skills] > section > h3 {
    color: rgb(29, 180, 180);
    backdrop-filter: blur(30px);
    padding: 0;
    text-align: center;
    width: fit-content;
  }
  [data-main_skills] > section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
}
