/* Default */
@media only screen {
  [data-main_softSkills] {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "title title"
      "container container"
      "previous next";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }
  [data-main_softSkills] > h2 {
    backdrop-filter: blur(30px);
    color: rgb(184, 181, 29);
    transform: translateY(10px);
    grid-area: title;
    transition: 1s;
    margin-bottom: 15px;
    padding-bottom: 5px;
    place-self: center;
    width: fit-content;
  }
  [data-main_softSkills_next]:hover,
  [data-main_softSkills_previous]:hover {
    color: rgb(32, 130, 143);
    scale: 1.5;
  }
  [data-main_softSkills_next],
  [data-main_softSkills_previous] {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 60px;
    place-self: center;
    transition: 1s;
    user-select: none;
  }
  [data-main_softSkills_next] {
    grid-area: next;
  }
  [data-main_softSkills_previous] {
    grid-area: previous;
  }
  [data-main_softSkills_container] {
    animation-duration: 2s;
    animation-timing-function: linear;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.1);
    display: grid;
    grid-area: container;
    grid-gap: 8px;
    grid-template-areas:
      "title"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px;
    height: 150px;
    padding: 10px 0;
    place-self: center;
    transition: 0.5s ease-in-out;
    width: 90%;
  }
  [data-main_softSkills_container] > h3 {
    animation-duration: 2s;
    animation-timing-function: linear;
    color: rgb(255, 255, 255);
    grid-area: title;
    overflow: hidden;
    place-self: center;
    text-overflow: clip;
    transition: 1s;
    transform-style: preserve-3d;
    width: 90%;
  }
  [data-main_softSkills_container] > img {
    animation-duration: 2s;
    animation-timing-function: linear;
    grid-area: image;
    max-height: 80px;
    max-width: 90%;
    place-self: center;
    transform-style: preserve-3d;
    transition: 1s;
  }
  .animation-softSkill_container {
    animation: onBlurContainer infinite;
  }
  .animation-softSkill_container_text {
    animation: onBlurText infinite;
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-main_softSkills] {
    grid-template-areas:
      "title title title"
      "previous container next";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(2, auto);
  }
  [data-main_softSkills_container] {
    grid-template-areas: "image title";
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
  }
  [data-main_softSkills_container] > img {
    max-height: 130px;
  }
  [data-main_softSkills_next],
  [data-main_softSkills_previous] {
    font-size: 50px;
  }
  [data-main_softSkills_next] {
    justify-self: left;
  }
  [data-main_softSkills_previous] {
    justify-self: right;
  }
}
@keyframes onBlurContainer {
  0% {
    width: 90%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes onBlurText {
  0% {
    scale: 100%;
  }
  40% {
    scale: 0%;
  }
  60% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}
