@import "./assets/app/home/css/main/banner.css";
@import "./assets/app/home/css/main/aboutMe.css";
@import "./assets/app/home/css/main/experience.css";
@import "./assets/app/home/css/main/contact.css";
@import "./assets/app/home/css/main/education.css";
@import "./assets/app/home/css/main/hobbies.css";
@import "./assets/app/home/css/main/skills.css";
@import "./assets/app/home/css/main/softSkills.css";
/* Default */
@media only screen {
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }
}
