@import "./main/banner.css";
@import "./main/aboutMe.css";
@import "./main/experience.css";
@import "./main/contact.css";
@import "./main/education.css";
@import "./main/hobbies.css";
@import "./main/skills.css";
@import "./main/softSkills.css";
/* Default */
@media only screen {
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }
}
