@import url("./main/banner.css");
@import url("./main/aboutMe.css");
@import url("./main/experience.css");
@import url("./main/contact.css");
@import url("./main/education.css");
@import url("./main/hobbies.css");
@import url("./main/skills.css");
@import url("./main/softSkills.css");
/* Default */
@media only screen {
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }
}
