/* Default */
@media only screen {
  .background {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-size: cover;
    opacity: 70%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
