/* Default */
@media only screen {
  :root {
    --perspectivecardDV: 2000px;
  }
  .cardDV {
    height: 200px;
    margin: 10px 0;
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
  }
  .cardDV > .cardDV_face {
    align-items: center;
    backface-visibility: hidden;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: perspective(var(--perspectivecardDV)) rotateY(0deg);
    transform-style: preserve-3d;
    transition: 1.5s ease-in-out;
    width: 100%;
  }
  .cardDV > .cardDV_face_front {
    transform: perspective(var(--perspectivecardDV)) translateZ(50px);
  }
  .cardDV:hover > .cardDV_face_front {
    transform: perspective(var(--perspectivecardDV)) rotateY(180deg);
  }
  .cardDV > .cardDV_face_back {
    color: rgb(255, 255, 255);
    flex-direction: column;
    transform: perspective(var(--perspectivecardDV)) rotateY(180deg);
  }
  .cardDV:hover > .cardDV_face_back {
    transform: perspective(var(--perspectivecardDV)) rotateY(360deg);
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  :root {
    --perspectivecardDV: 500px;
  }
}
