/* Default */
@media only screen {
  .card {
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.1);
    color: transparent;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 200px;
    margin: 20px 50px;
    width: 250px;
  }
  .card > .card_imgbox {
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    grid-area: 1/1;
    height: calc(100% - 20px);
    justify-content: center;
    overflow: hidden;
    place-self: center;
    transition: 0.5s ease-in-out;
    width: calc(100% - 20px);
    z-index: 10;
  }
  .card > .card_imgbox > .card_imgbox_image {
    -webkit-text-fill-color: transparent;
    --timeAnimation: 2.5s;
    --heightImage: 50%;
    animation: animated var(--timeAnimation) alternate infinite;
    height: var(--heightImage);
  }
  .card:hover > .card_imgbox {
    scale: 0.4;
    transform: translateX(-100%);
  }
  .card > .card_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: 1/1;
    height: 100%;
    justify-content: center;
    padding: 18px;
    place-self: center;
    transform: translateX(20%);
    width: 60%;
    word-wrap: break-word;
  }
  .card > .card_content > .card_content_title {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 5px;
    transition: 1s;
  }
  .card:hover > .card_content > .card_content_title {
    color: rgb(253, 0, 118);
  }
  .card > .card_content > .card_content_text {
    font-size: 0.9em;
    line-height: 1.15em;
    transition: 1s;
  }
  .card:hover > .card_content > .card_content_text {
    color: rgb(255, 255, 255);
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  .card > .card_imgbox {
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    grid-area: 1/1;
    height: calc(100% - 20px);
    justify-content: center;
    overflow: hidden;
    place-self: center;
    transition: 0.5s ease-in-out;
    width: calc(100% - 20px);
    z-index: 5;
  }
  .card > .card_imgbox > .card_imgbox_image {
    --heightImage: 80%;
  }
  .card:hover > .card_imgbox {
    scale: 0.7;
  }
  .card:nth-child(2n):hover > .card_imgbox,
  .card:nth-child(2n + 1):hover > .card_imgbox {
    transform: translateX(-85%);
  }
  .card:nth-child(3n + 1):hover > .card_imgbox {
    transform: translateX(85%);
  }
  .card > .card_content {
    width: 60%;
  }
  .card:nth-child(2n) > .card_content,
  .card:nth-child(2n + 1) > .card_content {
    transform: translateX(20%);
  }
  .card:nth-child(3n + 1) > .card_content {
    transform: translateX(-20%);
  }
  .card > .card_content > .card_content_title {
    font-size: 1.6em;
    margin: 0 0 10px;
  }
  .card > .card_content > .card_content_text {
    font-size: 1em;
    line-height: 1.25em;
  }
}
@keyframes animated {
  0% {
    height: calc(var(--heightImage) - 30%);
  }
  100% {
    height: var(--heightImage);
  }
}
