.chargingScreen{
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 100;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.chargingScreen::after{
    position: absolute;
    content: url("../../src/image/author.webp");
    width: 100px;
    height: 100px;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
}