/* Default */
@media only screen {
  [data-header_menu] {
    align-self: center;
    grid-area: 2/1;
  }
  [data-header_menu] > ul {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    justify-content: center;
    row-gap: 30px;
  }
  [data-header_menu] > ul:hover {
    cursor: default;
  }
  [data-header_menu] > ul > li {
    align-self: center;
    backdrop-filter: blur(30px);
    border-radius: 0.2em;
    color: rgb(27, 189, 189);
    font-size: 1.15em;
    justify-self: center;
    transition: 0.4s;
    width: max-content;
  }
  [data-header_menu] > ul > li:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
    scale: 1.3;
    text-shadow: 0em 0.5em 0.1em rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
  }
}
/* Laptop */
@media only screen and (min-width: 769px) {
  [data-header_menu] {
    grid-area: 1/2;
  }
  [data-header_menu] > ul {
    grid-template-columns: repeat(7, auto);
    justify-content: end;
    padding-right: 5%;
  }
}
